<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a href="/purchase_orders/new">
          <i class="fa fa-shopping-cart fa-4x"></i>
          <h3>New Purchase Order</h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/service_logs/new">
          <i class="fa fa-briefcase fa-4x"></i>
          <h3>New Service Log</h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/companies/new">
          <i class="fa fa-user-plus fa-4x"></i>
          <h3>New Client</h3>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a href="/companies">
          <i class="fa fa-building fa-4x"></i>
          <h3>View All Clients</h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/purchase_orders">
          <i class="fa fa-list fa-4x"></i>
          <h3>View All Purchase Orders</h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/service_logs">
          <i class="fa fa-list-alt fa-4x"></i>
          <h3>View All Service Logs</h3>
        </a>
      </div>
    </div>
  </div>
</div>
