<div class="container-fluid">
  <div class="containter">
    <div class="row">
      <div class="col-md-12 text-center" id="section-2">
          <%= image_tag("compworks.png", size: "800x350") %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2>Technically proficient</h2>
        <br>
        <br>
        <i class="fa fa-desktop fa-5x"></i>
        <br>
        <br>
        <h4>
          For twelve years, compworks has worked hard to give our customters
          best technical expirience for your business. We treat our clients like close friends,
          and we are confident you will notice the difference right away.
        </h4>
      </div>
      <div class="col-md-6 text-center">
        <h2>Reliabillity that you need</h2>
        <br>
        <br>
        <i class="fa fa-phone fa-5x"></i>
        <br>
        <br>
        <h4>
          Compworks is known for reliabillity accross the entire state of Utah, we provide the
          personal touch of a small company, while consistantly giving the top technical advice available.

        </h4>
      </div>
    </div>
  </div>
</div>

<div class="containter-fluid" id="section-3">
  <div class="containter">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Hear first hand what our customers have to say</h2>
        <legend></legend>
        <blockquote>
          Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers
          Here is a long block quote from one of your customers Here is a long block quote from one of your customers Here is a long block quote from one of your customers
          <footer>someone special</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="containter-fluid" id="section-4">
  <div class="containter">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 style="color:white">Call us anytime</h2>
      </div>
      <div class="col-md-4 text-center">
        <h2 style="color:white">Send us an email</h2>
      </div>
      <div class="col-md-4 text-center">
        <h2 style="color:white">LogMeIn for Remote Help</h2>
      </div>
    </div>
  </div>
</div>
