<div class="parallax nyc hero" data-parallax-speed="1">
  <div class="hero-content">
    <h1>Compworks</h1>
    <p>The Company that works for You.</p>
  </div>
</div>

<div class="cleft-wrapper">
  <div class="cleft-left"></div>
  <div class="cleft-right"></div>
</div>

<div class="spacer">
  <div class="container">
    <h3>Placeholder as Content?</h3>
    <p>Mauris condimentum porttitor massa molestie elementum. Proin rhoncus, arcu sit amet molestie dignissim, sapien risus mattis arcu, et fringilla ipsum purus vitae neque. Phasellus ultricies dolor libero, at efficitur nulla tincidunt eget. Donec eget mauris nec libero vestibulum porta. Aenean sit amet turpis vehicula, vestibulum nunc sed, dapibus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lobortis tincidunt iaculis. Aenean et odio eros. Aenean fermentum mi ac maximus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam posuere, est id varius posuere, dolor nisi interdum ante, eget consequat ante mi non ex. Mauris bibendum ac diam vitae efficitur.</p>
    <p>Maecenas id enim convallis, gravida nisi vitae, pellentesque quam. Curabitur vel scelerisque elit. Curabitur consectetur diam id ullamcorper rutrum. Donec porttitor aliquam arcu, ac dapibus arcu scelerisque id. Nulla eu augue sed nisl hendrerit tristique eu vitae libero. Sed ipsum justo, cursus sit amet lectus nec, convallis rutrum nibh. Aenean eget felis quis mauris egestas placerat ut sit amet leo. Aenean sagittis condimentum lectus. Pellentesque et nunc sapien. Praesent hendrerit dictum augue sed rutrum. Donec molestie eros massa, ac congue nisl mattis non. Cras non rhoncus ante. Curabitur feugiat ac risus non ullamcorper. Morbi rutrum mollis neque eu feugiat. Fusce tempus commodo venenatis. Morbi aliquet nunc at imperdiet cursus.</p>
  </div>
</div>

<div class="carrotBox">
  <div class="carrot"></div>
</div>

<div class="parallax paris" data-parallax-speed="0.75">
  <div class="parallax-content">
    <h1>Technically Profficient</h1>
    <h1>Great Customer Relationships</h1>
    <p>Compworks strives for these values with every visit, email, and phone call. We are here to help.</p>
  </div>
</div>

<div class="cleft-wrapper">
  <div class="cleft-left"></div>
  <div class="cleft-right"></div>
</div>

<div class="spacer tallSpacer">
  <div class="container">
    <h3>Placeholder as Content?</h3>
    <p>Mauris condimentum porttitor massa molestie elementum. Proin rhoncus, arcu sit amet molestie dignissim, sapien risus mattis arcu, et fringilla ipsum purus vitae neque. Phasellus ultricies dolor libero, at efficitur nulla tincidunt eget. Donec eget mauris nec libero vestibulum porta. Aenean sit amet turpis vehicula, vestibulum nunc sed, dapibus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lobortis tincidunt iaculis. Aenean et odio eros. Aenean fermentum mi ac maximus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam posuere, est id varius posuere, dolor nisi interdum ante, eget consequat ante mi non ex. Mauris bibendum ac diam vitae efficitur.</p>
    <p>Maecenas id enim convallis, gravida nisi vitae, pellentesque quam. Curabitur vel scelerisque elit. Curabitur consectetur diam id ullamcorper rutrum. Donec porttitor aliquam arcu, ac dapibus arcu scelerisque id. Nulla eu augue sed nisl hendrerit tristique eu vitae libero. Sed ipsum justo, cursus sit amet lectus nec, convallis rutrum nibh. Aenean eget felis quis mauris egestas placerat ut sit amet leo. Aenean sagittis condimentum lectus. Pellentesque et nunc sapien. Praesent hendrerit dictum augue sed rutrum. Donec molestie eros massa, ac congue nisl mattis non. Cras non rhoncus ante. Curabitur feugiat ac risus non ullamcorper. Morbi rutrum mollis neque eu feugiat. Fusce tempus commodo venenatis. Morbi aliquet nunc at imperdiet cursus.</p>
  </div>
</div>

<div class="carrotBox">
  <div class="carrot"></div>
</div>

<div class="parallax madrid" data-parallax-speed="0.25">
  <div class="parallax-content">
    <h1>Call us Maybe?</h1>
    <p>Look below to find all of the ways to contact Compworks Inc.</p>
  </div>
</div>

<div class="cleft-wrapper">
  <div class="cleft-left"></div>
  <div class="cleft-right"></div>
</div>

<div class="spacer centered">
  <div class="container">
    <h3>There are a number of ways to contact Compworks, Inc.</h3>
    <p>For over 12 years, Compworks has helped hundreds of clients throughout Utah with all their IT, networking and audiovisual needs. We offer a complete line of services including, hardware, web services including hosting, off-site backup, 24-7 networking and system monitoring, and on-site service and support.</p>

    <p>
      Please feel free to contact us using whatever is easiest for you.
      <em>Note: For an immediate response text David at 801-755-1442. We look forward to hearing from you.</em>
    </p>

    <p><b>Mailing Address</b>: 857 W. Alan Point Draper, UT 84020</p>
    <p><b>Web</b>: www.compworkspc.com</p>
    <p><b>Office Phone</b>: 801-999-4926</p>
    <p><b>Office Fax</b>: 801-401-7321</p>


    <p><b>Lisa Contact Info</b>: (Accounting Issues) 801-815-5411 lisa@compworkspc.com</P>


    <p><b>David Farnworth Info</b>: (Scheduling / Tech Support) 801-755-1442</p>


    <p>You can also you can text David at <b>801-755-1442</b> for an immediate response <b>david@compworkspc.co</b>m</p>
  </div>
</div>

<div class="carrotBox">
  <div class="carrot"></div>
</div>

<div class="parallax nyc" data-parallax-speed="0.5">
  <div class="parallax-content">
    <h1>Clickable Links Below</h1>
    <p>Thank you for giving us the opportunity to serve you</p>
  </div>
</div>

<div class="cleft-wrapper">
  <div class="cleft-left"></div>
  <div class="cleft-right"></div>
</div>

<div class="spacer centered">
  <div class="container">
    <button>Download LogMeIn</button>
    <button>Button</button>
    <a href="/login"><button>Admin Login</button></a>
</div>
