<div class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12" id="po-title">
        <h3><a href="/admin_dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i></a>  New PO: <%= PurchaseOrder.last.id + 16040 + 1  %></h3>
      </div>
    </div>
    <div class="row" id="loading-space">
      <div class="col-md-6 col-md-offset-3">
        <form>
          <div class="checkbox">
             <label>
               <input type="checkbox" id="received-input"> Received
             </label>
           </div>
          <fieldset class="form-group">
            <label for="vendor-input">Vendor</label> <a class="pull-right" href="#"><i style="color:red" class="fa fa-times pull-right fa-2x" id="clear-vendor"></i></a>
            <input class="form-control" id="vendor-input" placeholder="Start typing for vendor..">
          </fieldset>
          <fieldset class="form-group">
            <label for="client-input">Client</label>
            <input class="form-control" id="client-input" placeholder="Search for client">
          </fieldset>
          <fieldset class="form-group">
            <label for="item-input">Items</label>
            <input class="form-control" id="item-input" placeholder="Search for Item..">
          </fieldset>
          <fieldset class="form-group">
           <label for="InputFile">PO Image</label>
           <input type="file" class="form-control-file" id="InputFile">
         </fieldset>
         <fieldset>
           <button class="btn btn-default" type="button" id="po-submit">Create PO</button>
         </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
