/*!CK:1054603384!*//*1432609088,*/

.sp_ddPvEFetF9g{background-image:url(/rsrc.php/v2/yr/r/DFQ47h4UbYM.png);background-size:21px 72px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_ddPvEFetF9g.sx_40e150{background-position:0 -21px}.sp_ddPvEFetF9g.sx_2d4154{background-position:0 -38px}.sp_ddPvEFetF9g.sx_b94101{background-position:0 -55px}.sp_ddPvEFetF9g.sx_69642a{width:20px;height:20px;background-position:0 0}

#bootloader_BnF_6 { height: 42px; }
.bootloader_BnF_6 { display:block !important; }