/*!CK:3374464738!*//*1431446096,*/

.sp_GJoaP0seAcc{background-image:url(/rsrc.php/v2/yK/r/Da1L8y1WRam.png);background-size:25px 50px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_GJoaP0seAcc.sx_2134f1{background-position:0 0}.sp_GJoaP0seAcc.sx_8bee89{background-position:0 -25px}

#bootloader_qPqQw { height: 42px; }
.bootloader_qPqQw { display:block !important; }