/*!CK:3078866429!*//*1431328193,*/

.sp_EZI9FK2j9ME{background-image:url(/rsrc.php/v2/yk/r/JtQ_c-NGi5J.png);background-size:33px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_EZI9FK2j9ME.sx_e229ce{background-position:-16px 0}.selected .sp_EZI9FK2j9ME.sx_e229ce{background-position:0 0}.sp_EZI9FK2j9ME.sx_fdb586{background-position:-16px -17px}.selected .sp_EZI9FK2j9ME.sx_fdb586{background-position:0 -17px}.sp_EZI9FK2j9ME.sx_1ceb53{background-position:-16px -34px}.selected .sp_EZI9FK2j9ME.sx_1ceb53{background-position:0 -34px}

#bootloader_2c6L2 { height: 42px; }
.bootloader_2c6L2 { display:block !important; }