<div class="modal" id="inventory-item-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title center">Create Inventory Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Computer Name</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-computer-name">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Hard Drive</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-hard-drive">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Operating System</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-operating-system">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Processor</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-processor">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Ram</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-ram">
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="logmein-checkbox"> LogMeIn?
              </label>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="clear-inventory-items-modal">Clear Modal Fields</button>
        <button type="button" class="btn btn-primary" id="create-inventory-item">Create Inventory Items</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="service-log-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title center">Add Service Log</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Length</label>
              <div class="col-lg-10">
                <input class="form-control" id="input-length" placeholder="ex. 2 hours 15 minutes">
              </div>
            </div>
            <div class="form-group">
             <label for="sp-text-area" class="col-lg-2 control-label">Service Performed</label>
             <div class="col-lg-10">
               <textarea class="form-control" rows="3" id="sp-text-area"></textarea>
             </div>
           </div>
           <div class="form-group">
            <label for="notes-text-area" class="col-lg-2 control-label">Notes</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="notes-text-area"></textarea>
              <span class="help-block"><em>Misc. notes about the visit</em></span>
            </div>
          </div>
          <div class="form-group">
            <label for="input-date" class="col-lg-2 control-label">Date</label>
            <div class="col-lg-10">
              <input class="form-control" id="input-date" placeholder="pick a date..">
            </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="clear-service-log">Clear Fields</button>
        <button type="button" class="btn btn-primary" id="create-service-log">Create Service Log</button>
      </div>
    </div>
  </div>
</div>

<!--edit modals-->

<div class="modal" id="edit-inventory-item-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title center">Edit Inventory Items</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Computer Name</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-computer-name">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Hard Drive</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-hard-drive">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Operating System</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-operating-system">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Processor</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-processor">
              </div>
            </div>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Ram</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-ram">
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="edit-logmein-checkbox"> LogMeIn?
              </label>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="clear-edit-inventory-items-modal">Clear Modal Fields</button>
        <button type="button" class="btn btn-primary" id="update-inventory-item">Update Inventory Items</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="edit-service-log-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title center">Edit Service Log Modal</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="input-length" class="col-lg-2 control-label">Length</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-length" placeholder="ex. 2 hours 15 minutes">
              </div>
            </div>
            <div class="form-group">
             <label for="sp-text-area" class="col-lg-2 control-label">Service Performed</label>
             <div class="col-lg-10">
               <textarea class="form-control" rows="3" id="edit-sp-text-area"></textarea>
             </div>
           </div>
           <div class="form-group">
            <label for="notes-text-area" class="col-lg-2 control-label">Notes</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="edit-notes-text-area"></textarea>
            </div>
          </div>
          <div class="form-group" id="date-warning-here">
            <label for="input-date" id="date-warning-label" class="col-lg-2 control-label">Date</label>
            <div class="col-lg-10">
              <input class="form-control" id="edit-input-date" placeholder="pick a date..">
              <em><p id="edit-was-date"></p></em>
            </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="clear-service-log">Clear Fields</button>
        <button type="button" class="btn btn-primary" id="update-service-log">Update Service Log</button>
      </div>
    </div>
  </div>
</div>

<!-- edit company modal -->

<div class="modal" id="edit-company-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title center">Edit Company</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
             <label for="edit-comp-name" class="col-lg-2 control-label">Company Name</label>
             <div class="col-lg-10">
               <input class="form-control" id="edit-comp-name" >
             </div>
            </div>
            <div class="form-group">
             <label for="edit-comp-doctor" class="col-lg-2 control-label">Doctor's Name</label>
             <div class="col-lg-10">
               <input class="form-control" id="edit-comp-doctor" >
             </div>
            </div>
            <div class="form-group">
              <label for="edit-comp-network" class="col-lg-2 control-label">Network</label>
              <div class="col-lg-10">
                <input class="form-control" id="edit-comp-network" >
              </div>
            </div>
            <div class="form-group">
             <label for="edit-comp-domain" class="col-lg-2 control-label">Domain</label>
             <div class="col-lg-10">
               <input class="form-control" id="edit-comp-domain" >
             </div>
           </div>
           <div class="form-group">
            <label for="edit-comp-antivirus" class="col-lg-2 control-label">Antivirus</label>
            <div class="col-lg-10">
              <input class="form-control" id="edit-comp-antivirus" >
            </div>
          </div>
          <div class="form-group">
           <label for="edit-comp-router1" class="col-lg-2 control-label">Router 1</label>
           <div class="col-lg-10">
             <input class="form-control" id="edit-comp-router1" >
           </div>
          </div>
          <div class="form-group">
           <label for="edit-comp-router2" class="col-lg-2 control-label">Router 2</label>
           <div class="col-lg-10">
             <input class="form-control" id="edit-comp-router2" >
           </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="clear-comp-edit">Clear Fields</button>
        <button type="button" class="btn btn-primary" id="reset-comp-edit">Reset Default Values</button>
        <button type="button" class="btn btn-success" id="update-company">Update Company</button>
      </div>
    </div>
  </div>
</div>
