<div class="row" id="company-search-div">
  <h1 class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
    Search By Company Name
  </h1>

  <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <input class="form-control" type="text" id="company-name-search" placeholder="Search For a Company..">
  </div>

</div>

<div class="row hide" id="restore-company-div">
  <h1 class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
    Restore Company
  </h1>

  <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <input class="form-control" type="text" id="undelete-company-name-search" placeholder="Search For a Company..">
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">

  </div>
</div>
