<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" id="po-title">
        <h3><a href="/admin_dashboard"><i class="fa fa-sign-out" aria-hidden="true"></i></a>  Create a Service Log</h3>
      </div>
    </div>
    <div class="row" id="loading-space">
      <div class="col-md-6 col-md-offset-3">
        <form>
          <div class="checkbox">
             <label>
               <input type="checkbox" id="received-payment"> Paid?
             </label>
           </div>
          <fieldset class="form-group">
            <label for="vendor-input">Length Of Service</label>
            <input class="form-control" id="length-input" placeholder="4 hours..">
            <small class="text-muted">Example 4 hours, 30 minutes</small>
          </fieldset>
          <fieldset class="form-group">
            <label for="vendor-input">Date of service</label>
            <input class="form-control" id="date-input">
          </fieldset>
          <fieldset class="form-group">
            <label for="client-input">Service Performed</label>
            <input class="form-control" id="sp-input" placeholder="Changed out 2 computers..">
          </fieldset>
          <fieldset class="form-group">
            <label for="item-input">Notes about visit</label>
            <textarea rows="3" class="form-control" id="notes-input" placeholder="Extra Notes about the visit.."></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label for="item-input">Company/Client for Service Log</label>
            <input class="form-control" id="client-input" placeholder="Childrens Dental..">
            <small>This field should auto populate. Search by doctor or company name.</small>
          </fieldset>
         <fieldset>
           <button class="btn btn-default" type="button" id="sl-submit">Create Service Log</button>
         </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
