// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-info-tables {
  margin-top: 20px;
}

.edit-icon {
  margin-top: 20px ;
}

.top-margin-30{
  margin-top:30px;
}

.left-margin-10{
  margin-left:10px;
}

.hide-until-hover{
  display:none;
}

.company-display:hover{
  .hide-until-hover{
    display:inline-block;
  }
}
